<%= link_to 'Back', users_path %> |

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Github name:</b>
  <%= @user.github_name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<% @infos.each do |info| %>
  <p>
  <b><%= info.title %></b>
    <%= info.content %>
  </p>
<% end %>

<% @projects.each do |project| %>
  <%= project.name %>
  <%= project.url %>
  <%= project.created_at %>
  <%= project.finished_at %>
  <%= project.introduction %>
  <hr />
<% end %>

