<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Github name:</b>
  <%= @user.github_name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Resume', resume_user_path(@user) %> |
<%= link_to 'update_by_github', update_by_github_user_path(@user), method: :put %>

<% @infos.each do |info| %>
  <p>
  <b><%= info.title %></b>
    <%= info.content %>
    <%= link_to 'Destroy', [@user, info], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<%= render "infos/form" %>


<% @projects.each do |project| %>
  <%= project.name %>
  <%= project.url %>
  <%= project.created_at %>
  <%= project.finished_at %>
  <%= project.introduction %>
  <%= link_to 'Destroy', [@user, project], method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr />
<% end %>

<%= render "projects/form" %>
