<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>From</th>
    <th>To</th>
    <th>Introduction</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.url %></td>
    <td><%= project.from %></td>
    <td><%= project.to %></td>
    <td><%= project.introduction %></td>
    <td><%= project.user %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
