<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- if user_signed_in? -%>
    登录为
    <%= link_to current_user.name, current_user %>
    <%= link_to "退出", destroy_user_session_path, method: :delete %>
  <%- else -%>
    <%= link_to "登录", new_user_session_path %>
    <%= link_to "注册", new_user_registration_path %>
  <%- end -%>

<%= yield %>

</body>
</html>
